[Unit]
Description=PigCloud TEE Signer Socket

[Socket]
ListenStream=/run/pigcloud-tee/signer.sock
RuntimeDirectory=pigcloud-tee
RuntimeDirectoryMode=0750
SocketUser=pigcloud-tee-signer
SocketGroup=www-data
SocketMode=0660
Backlog=64
RemoveOnStop=true

[Install]
WantedBy=sockets.target
